section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:rgba(255, 249, 81, 0.573)
}

div {
    background-color: #F491D9;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 125px;
    margin: 20px;
    justify-content:center;
    align-items: center;
    border: 5px solid;
    border-radius: 15px;
}


div:hover {
    background-color: rgb(59, 219, 216);
    cursor: grab;
}