body {
    background-color:rgba(255, 249, 81, 0.573);
} 

section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.score {
    justify-content: space-around;
}

div {
    transform: rotateY(0);
    transition: 0.5s;
    background-color: #F491D9;
    display: flex;
    flex-wrap: wrap;
    height: 140px;
    width: 115px;
    margin: 10px;
    justify-content:center;
    align-items: center;
    border: 5px solid;
    border-radius: 15px;
}


div:hover {
    background-color: rgb(59, 219, 216);
    cursor: grab;
}

.reset {
  width: 150px;
  height: 70px;
  background-color: rgb(231, 9, 168);
  border-radius: 20px;
  font-size: 25px;
  font-weight: bolder;
}