body{
    display: flex;
    flex-wrap: wrap;
}

div {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    margin: 20px;
    justify-content:center;
    align-items: center;
}